.logo {
    text-align: center;
    padding-top: 10em ;
}
.gsearch {
    text-align: center;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 482px;
}
input{
    width: 470px;
}